{% extends 'base.html' %}




{% block content %}
	{% for event in events %}
	<div class="topp_l">
      	<b>	 <a href="{% url 'Event.views.event_detal' pk=event.pk %}">{{ event.title|capfirst  }}</a></b>
	</div>
<br>
	<div class="content"><center>
    <b style="color:#006633">Data:</b>   {{event.date}}&nbsp &nbsp 
    <b style="color:#006633">Miejsce:</b> {{ event.destination}}&nbsp &nbsp
    <b style="color:#006633">Godzina:</b> {{ event.time }}&nbsp &nbsp
	</center>

{% if user.is_authenticated and request.user.is_superuser %}         
<p align="right"><a href="{% url 'Event.views.event_edit' pk=event.pk %}"><button  type="submit" class="btn btn-warning" dropdown-toggle>Edytuj</button></a>
<a href="{% url 'Event.views.event_remove' pk=event.pk %}"><button type="submit" class="btn btn-danger">Usuń</button></a> </p>

{% else %}
{% endif %}


</div>
	<div id="bot"> <p align="right">Data dodania:<b>{{event.publication_date}}</b></p></div>
<hr>

	{% endfor %}
{% endblock content %}
