{% extends 'base.html' %}




{% block content %}
	{% for event in events %}
	<div id="top">
      		 <center><h3> <a href="{% url 'Event.views.event_detal' pk=event.pk %}">{{ event.title|capfirst  }}</a></h3></center>  
	</div>

	<div id="content">
    <b>Data:</b><p>{{event.date}}</p>
    <b>Miejsce:</b><p>{{ event.destination}}</p>
    <b>Godzina:</b><p>{{ event.time }}</p>
	

{% if user.is_authenticated and request.user.is_superuser %}         
<p align="right"><a href="{% url 'Event.views.event_edit' pk=event.pk %}"><button  type="submit" style="vertical-align:middle">Edytuj</button></a>
<a href="{% url 'Event.views.event_remove' pk=event.pk %}"><button type="submit" style="vertical-align:middle">Usuń</button></a> </p>

{% else %}
{% endif %}


</div>
	<div id="bot"> <p align="right">Data dodania:<b>{{event.publication_date}}</b></p></div>
<hr>

	{% endfor %}
{% endblock content %}
