.col1{
	background: red;
}
.col2{
	background: blue;
}

.col3{
	background: orange;
}

.col4{

	background: yellow;
}

.col5{

	background: red;
}

.col6{

	background: pink;

}
.logo {
  position:relative;
  height:30px; 
  background-repeat:no-repeat;
  background-position: 50% 0;
  background-image:url('../images/logo.jpg'); }
