{% extends 'event/index.html' %}

{% block content %}

<div id="tytul">
    <center>  <h2>{{ events.title }}</h2> </center>
</div>

<div id="tresc">

<b style="color:#ccccff">Data:</b>	<p>{{events.date}}</p>
<b style="color:#ccccff">Miejsce:</b>	<p>{{events.destination}}</p>
<b style="color:#ccccff">Godzina:</b>	<p>{{events.time }}</p>
<b style="color:#ccccff">Szczegóły:</b>	<p>{{events.description|linebreaks }}</p> 
	<br>

        <br>

<br>

		<b><center> Zadania:</center></b>
	<hr>


<center> <span >  <h2> <a href="{% url 'Event.views.new_task' pk=events.pk%}"><button  type="submit" style="vertical-align:middle">Dodaj nowe zadanie</button></a></h2> </span></center>

<hr style="color:red"></hr>

<div id = "zadania">
{% for task in tasks %}
	<center><b><h5 style="color:blue"> {{task.title}}</h5></b></center>
	<p> {{task.description|linebreaks}}</p>


<p align="right"><a href="{% url 'Event.views.task_remove' pk=events.pk task_id=task.id %}"><button type="submit" style="vertical-align:middle">Usuń</button></a>
<a href=""><button  type="submit" style="vertical-align:middle">Dołącz</button></a> </p>

<hr style="color:red"></hr>
{% endfor %}
</div>
   
<div id="stopka_1"> </div>
{% endblock %}

