{% extends 'event/index.html' %}

{% block content %}
    <center><h2 style="color:#ffff33">Nowe wydarzenie</h2></center><br> <br>
    <form method="POST" class="event-form">{% csrf_token %}
      
<div class="Autor">
    <h4 style="color:#9c9c9c">
    <label for="{{ form.EventForm.author }}">Autor:</label><br>
    {{ form.author }}</h4>
</div>

<div class="Title">
    <h4 style="color:#9c9c9c">
    <label for="{{ form.EventForm.title }}">Tytuł:</label><br>
    {{ form.title }}</h4>
</div>

<div class="Godzina">
    <h4 style="color:#9c9c9c">
    <label for="{{ form.EventForm.time }}">Godzina:</label><br>
    {{ form.time }}</h4>
</div>

<div class="data">
    <h4 style="color:#9c9c9c">
    <label for="{{ form.EventForm.date }}">Data:</label><br>
    {{ form.date }}</h4>
</div>

<div class="Miejsce">
    <h4 style="color:#9c9c9c">
    <label for="{{ form.EventForm.destination }}">Miejsce:</label><br>
    {{ form.destination }}</h4>
</div>

<div class="Opis">
    <h4 style="color:#9c9c9c">
    <label for="{{ form.EventForm.description }}">Szczegóły:</label><br>
    {{ form.description }} </h4>
</div>
<br>
        <div><p align="center"><button type="submit" style="font: 15pt Arial; font-style: italic; font-weight: bold; color:#663366;vertical-align:middle;width:200px; height:50px"class="save btn btn-default" >Zapisz</button></p></div>
    </form>
{% endblock %}
