{% extends 'event/index.html' %}


{% block content %}
	{% for event in events %}
	<div id="tytul">
      		<center><h3> <a href="{% url 'Event.views.event_detal' pk=event.pk %}">{{ event.title }}</a></h3></center>
	</div>

	<div id="tresc">
    <b style="color:#ccccff">Data:</b><p>{{event.date}}</p>
    <b style="color:#ccccff">Miejsce:</b><p>{{ event.destination}}</p>
    <b style="color:#ccccff">Godzina:</b><p>{{ event.time }}</p>
	

                
<p align="right"><a href="{% url 'Event.views.event_edit' pk=event.pk %}"><button  type="submit" style="vertical-align:middle">Edytuj</button></a>
<a href="{% url 'Event.views.event_remove' pk=event.pk %}"><button type="submit" style="vertical-align:middle">Usuń</button></a> </p>
<hr>



</div>
	<div id="podpis"> <p align="right">Data dodania: <b>{{event.publication_date}}</b></p></div>
<hr>
	{% endfor %}
{% endblock content %}
