{% load staticfiles %}
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">  
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Volontario - strona zarzadzania wolontariatem</title>
  <meta name="description" content="" /> 
  <link rel="stylesheet" href="{% static 'style/volo.css' %}">
</head>
<body>
<div class="external">
  <div id="logo">

    <ul id="kontakt">
      <li><a href="./">zalogowany!!</a></li>
      <li class="last"><a href="./">Wyloguj</a></li>
    </ul></div>
<div 
    id="menu">
      <a href="index.html"> <button class="button" style="font: 15pt Arial; font-style: italic; font-weight: bold; color:blue;vertical-align:middle;width:200px; height:50px"> Strona główna</button></a>
      <a href="{% url 'Event.views.event_list' %}"><button class="button" style="font: 15pt Arial; font-style: italic; font-weight: bold; color:blue;vertical-align:middle;width:200px; height:50px"> Wydarzenia</button> </a>

      <a href="office.htm"> <button class="button" style="font: 15pt Arial; font-style: italic; font-weight: bold; color:blue;vertical-align:middle;width:200px; height:50px">Deklaracje</button></a>
      <a href="{% url 'messege.views.messege_list' %}"><button class="button" style="font: 15pt Arial; font-style: italic; font-weight: bold; color:blue;vertical-align:middle;width:200px; height:50px">Wiadomości</button></a>
   
     
    
  </div>

  <div id="main">
    <div class="sidebar">
      
      <h2>Menu pionowe </h2>
      <ul>
        <li><a href="{% url 'Event.views.event_new' %}" ><span class="glyphicon glyphicon-plus"> Nowy Event<span></a></li>
        <li><a href="./">Menu 2 </a></li>
        <li><a href="./">Menu 3  </a></li>
        <li><a href="./">Menu 4  </a></li>
      </ul>
    </div>
    <div class="content">
     	
{% block content %}

{% endblock %}
     
	<br><br><br><br><br>      
      
      
    </div>
    <div class="sidebar">

      
      
     
    
      
        </fieldset>
      </form>
    </div>
  </div>
    
  <div class="clear"></div>
</div>
<div id="footer">
          <p>Copyright &copy; 2015; Projekt: Inżynierski </p>
</div>
</body>
</html>
