{% extends 'base.html' %}


{% block content %}
	{% for volin in volins %}
	<div id="top">
      		<center><h3> <a href="{% url 'Ind.views.volin_detal' pk=volin.pk %}">{{ volin.title }}</a></h3></center>
	</div>

	<div id="content">

    <b style="color:#ff9933">Miejsce:</b><p>{{ volin.destination}}</p>
 
	
{% if user.is_authenticated and request.user.is_superuser %} 
<p align="right"><a href="{% url 'Ind.views.volin_edit' pk=volin.pk %}"><button  type="submit" style="vertical-align:middle">Edytuj</button></a>             
<a href="{% url 'Ind.views.volin_remove' pk=volin.pk %}"><button type="submit" style="vertical-align:middle">Usuń</button></a> </p>
{%else%}
{%endif%}


<hr>



</div>
	<div id="bot"> <p align="right">Data dodania: <b>{{volin.publication_date}}</b></p></div>
<hr>
	{% endfor %}
{% endblock content %}
