.col1{
	background: red;
}
.col2{
	background: blue;
}

.col3{
	background: orange;
}

.col4{

	background: yellow;
}

.col5{

	background: red;
}

.col6{

	background: pink;

}
.logo {
  position:relative;
  height:312px;
  background-repeat:no-repeat;
  background-position: 50% 0;
  background-image:url('../images/logo.jpg'); }

 .exCenter{
    width:300px;
    margin:auto;
}
.exHeader,#exContent,#exFooter{
    background-color:#f1f1f1;
    border:solid 1px #CCCCCC;
    margin-bottom:2px;
}
.exLeftColumn{
    float:left;
    width:149px;
    background-color:#00CCFF;
}
.exRightColumn{
    float:right;
    width:149px;
    background-color:#CCCCCC;
}
.exClear{
    clear:both;
    line-height:0px;
}

event{
      background-color:#CCCCCC;}


.content-left-up{
   width: 70%;
   height:auto;
   min-height: 250pt;
   background-color: B0D8FF;
   margin  : 0px;
   border  : none;
   padding : 0px;
   float : left;
   border-radius: 6px;
}
.content-right-up{
   width: 30%;
   min-height: 0pt;
   margin  : 0px;
   border  : none;
   padding : 0px;
   float : right;
   border-radius: 6px;
}
.content-left-down{
   width: 70%;
   min-height: 300pt;
   margin  : 0px;
   border  : none;
   padding : 0px;
   float : left;
   border-radius: 6px 6px 24px 24px;


}
.content-right-down{
   width: 30%;
   min-height: 0pt;
   margin  : 0px;
   border  : none;
   padding : 0px;
   float : right;
   border-radius: 6px;


}
.topp {
width: 100%;
margin-top: 30px;
background-color:linear-gradient(yellow, orange);
background: linear-gradient(yellow, orange);
font-size: 25px;
text-shadow: 10px;
text-align: center;
font-color:white;
border-radius: 12px;
}
.topp_l {
width: 100%;
margin-top: 30px;
background-color:linear-gradient(yellow, orange);
background: linear-gradient(yellow, orange);
font-size: 20px;
text-shadow: 10px;
text-align: center;
border-radius: 24px;
}
b{
  color:#000066;
}

.content-down{
width: 100%;
margin:0px,0px,0px,0px;
min-height: 250pt;


}
.site{
width: 100%;
margin:0px,0px,0px,0px;
min-height: 250pt;

}
.content{
  font-size: 18pt;

}
.account{

}
.left-admin{
  width:20%;
   margin  : 0px;
   border  : none;
   padding : 0px;
   float : left;

}

.right-admin{
  width:80%;
   margin  : 0px;
   border  : none;
   padding : 0px;
   float : right;
}




.topp2 {
width: 100%;
margin-top: 30px;
background-color:linear-gradient(green, yellowgreen);
background: linear-gradient(green, yellowgreen);
font-size: 25px;
text-shadow: 10px;
text-align: center;
font-color:white;
border-radius: 12px;
}

.doc_font{
font-size: 22px;
font-style: Verdana;
}