{% extends 'base.html' %}

{% block content %}

<div class = "Edycja">

   <div id="top"><h1 style="color:blue">Zmiana danych:</h1><br> <br></div>
    <form method="POST" class="user-form">

<form method="POST" action=".">{% csrf_token %}




<div class="imie i nazwisko">
    <h8>
    <label for="{{ form.RegistrationForm.first_name}}">Imię:</label> 
    {{ form.first_name}}</h4>


    <h8>
    <label for="{{ form.RegistrationForm.last_name}}">Nazwisko:</label> 
    {{ form.last_name}}</h4>
</div>
<div class="email">
    <h8>
    <label for="{{ form.RegistrationForm.email}}">Email:</label> 
    {{ form.email }}</h4>
</div>
<div class="Tel">
    <h8>
    <label for="{{ form.RegistrationForm.tel}}">Telefon:</label> 
    {{ form.tel }}</h4>
</div>
<div class="Indeks">
    <h8>
    <label for="{{ form.RegistrationForm.indeks}}">Indeks:*</label> 
    {{ form.indeks }}</h4>
</div>
<div class="Admin">
    <h8>
    <label for="{{ form.RegistrationForm.is_staff}}">Administrator:</label> 
    {{ form.is_staff}}</h4>
</div>
<div class="Aktywny">
    <h8>
    <label for="{{ form.RegistrationForm.is_active}}">Konto aktywne:</label> 
    {{ form.is_active}}</h4>
</div>

        <input type="submit" value="Edytuj" />
    
    </form>
    </div>
{% endblock %}
